body>.lr-struct>aside>.content>nav {
    margin: var(--length-padding);
}

body>.lr-struct>aside>.content>nav .data {
    display: flex;
    align-items: baseline;
}

body>.lr-struct>aside>.content>nav .mark::before {
    font-family: var(--font-mono);
    color: var(--color-light);
    display: block;
    width: 1em;
    text-align: center;
    content: "−";
}

body>.lr-struct>aside>.content>nav .tree.folded>.data>.mark::before {
    content: "+";
}

body>.lr-struct>aside>.content>nav .content {
    flex-grow: 1;
}

body>.lr-struct>aside>.content>nav .children {
    border-left: 1px solid var(--color-border);
    margin-left: calc(.5em - .5px);
}

body>.lr-struct>aside>.content>nav .tree.folded>.children {
    display: none;
}