.heading-tree {
    padding: var(--length-padding);
}

.heading-tree a[href] {
    color: var(--color-text);
}

.heading-tree .data {
    display: flex;
    align-items: baseline;
}

.heading-tree .mark::before {
    font-family: var(--font-mono);
    color: var(--color-light);
    display: block;
    width: 1em;
    text-align: center;
    content: "-";
}

.heading-tree .tree.folded>.data>.mark::before {
    content: "+";
}

.heading-tree .content {
    flex-grow: 1;
}

.heading-tree .children {
    margin-left: .5em;
    border-left: 1px solid var(--color-border);
}

.heading-tree .tree.folded>.children {
    display: none;
}