.heading-tree {
    margin: var(--length-padding);
}

.heading-tree .data {
    display: flex;
    align-items: baseline;
}

.heading-tree .mark::before {
    font-family: var(--font-mono);
    color: var(--color-light);
    display: block;
    width: 1em;
    text-align: center;
    content: "−";
}

.heading-tree .tree.folded>.data>.mark::before {
    content: "+";
}

.heading-tree .content {
    flex-grow: 1;
}

.heading-tree .children {
    border-left: 1px solid var(--color-border);
    margin-left: calc(.5em - .5px);
}

.heading-tree .tree.folded>.children {
    display: none;
}